.lists-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    padding: 20px;
    margin: 10px;
}
.lists{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
.add-list-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
} 
.lists-container{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 250px;
    overflow: hidden;
    flex-wrap: nowrap;
}
.lists-container:hover{
    overflow-x: scroll;
}
.list-container {
    background-color: rgba(240, 248, 255, 0.645);
    display: flex;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    height: 210px;
    margin: 10px 10px;
    align-items: stretch;
    justify-content: space-between;
}

.list-head {
    /* margin: 10px; */
    /* display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start; */
}

.head-input {
    display: flex;
    align-items: center;
}

/* .list-body {
    display: flex;
    flex-direction: column;
    align-items: baseline;

} */

.list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: initial;
    /* display: flex; */
    /* align-items: center; */
}

/* button {
    border-radius: 10px;
    border: 0;
    background-color: rgba(131, 154, 170, 0.292);
    margin: 5px;
    height: 25px;
    cursor: pointer;
} */
/* input{
    height: 20px;
} */