.regular-checkbox {
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    border-radius: 6px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: -2px;
    left: 1px;
    color: rgba(0, 22, 130, 0.75);
}

.close-list-span {
    width: min-content;
    position: relative;
}

/*  */


.tooltip {
    display: flex;
    width: fit-content;
}

.tooltip .tooltip-text {
    visibility: hidden;
    margin-bottom: 2px;
    font-size: small;
    padding: 5px 10px;
    cursor: pointer;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip:hover {
    background: #bbcad76e;
    border-radius: 10px;
}

.add-task-input {
    color: black;
    border: none;
    background: none;
    border-bottom: solid;
}

.add-task-button {
    color: rebeccapurple;
    margin: 5px;
    border: none;
    background: pink;
    font-family: cursive;
    border-radius: 5px;
}

/*  */


.lists {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.add-list-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.lists-container {
    /* display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 250px;
    flex-wrap: nowrap; */
    /*  */
    

}
.list-container[opened]{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 250px;
    padding: 20px;
    flex-wrap: nowrap;
}
.lists-container:hover {
    overflow-x: scroll;
}

.delete-list-icon:hover {
    cursor: pointer;
    padding: 2px;
}

.list-container {
    background-color: rgba(240, 248, 255, 0.645);
    /* display: flex; */
    /* padding: 20px; */
    border-radius: 20px;
    flex-direction: column;
    /* min-height: 210px; */
    height: -moz-fit-content;
    height: fit-content;
    min-width: 165px;
    /* height: fit-content; */
    margin: 10px 10px;
}



.head-input {
    display: flex;
    align-items: center;
}



.list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: initial;
}