/* .add-activity-form-container{
    border: solid 1px black;
} */
.activities{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-activity-form {
    display: flex;
    padding: 5px;
}

.activity-form-input {
    margin: 5px;
    padding: 5px;
}

.activities-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 250px;
    overflow: hidden;
}
.activities-container:hover{
    overflow-x: scroll;
}

.activity {
    display: flex;
    margin: 20px;
    flex-direction: row;
    padding: 10px;
    min-width: 170px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.activity-buttons-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.margin-5{
    margin: 5px;
}