.done {
  background-color: aquamarine;
}

.home-page {
  /* min-width: 100%; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  min-height: inherit;
  min-width: inherit;
  /* width: fit-content; */
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

.message {
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-style: oblique;
  font-size: 25px;
  padding: 10px;
}