.done {
  background-color: aquamarine;
}

.home-page {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.message {
  border-radius: 60px;
  display: flex;
  position: relative;
  left: 0;
  font-style: oblique;
  font-size: 25px;
  padding: 20px;
  height: fit-content;
}

.pop-message {
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-style: oblique;
  font-size: 25px;
  padding: 10px;
  margin: 20px;
}