/* .message {
  display: flex;
  flex-direction: column;
  font-style: oblique;
  margin-top: -10px;
  padding: 10px;
  position: absolute;
  left: 10px;
} */


.message-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}