

.child-info {
    border: solid;
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    margin: 5px;
    padding: 10px;
    width: 140px;
}

.profile-section-nav{
    position: absolute;
    left: 5px;
}

.add-child-info-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

.add-info {
    width: 130px;
}
.profile-section{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 250px;
    overflow: hidden;
}
