.activity {
    display: flex;
    margin: 20px;
    width: fit-content;
    flex-direction: column;
}

.glassmorphism {
    display: flex;
}

.activities-container {
    display: flex;
    flex-direction: row;
    /* width: ; */
    /* border: solid; */
    flex-wrap: wrap;
    justify-content: center;
}