.header-container {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 2px;
    /* background-color: rgba(0, 255, 255, 0.474); */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-greeting {
    margin: 5px;
}

