.header-container {
    display: flex;
    width: 100vw;
    background-color: rgb(164 224 230 / 79%);
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

.user-greeting {
    margin: 5px;
}

