.list-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;

}

.list-head {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-body {
    border: solid;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.list-item {
    display: flex;
    width: 100%;

    justify-content: space-between;
}