
.login-page{
    position: absolute;
    display: flex;
    height: 95%;
    align-items: center;
    justify-content: center;
}
.log-in-container {
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding: 20px;
}