.logo {
    display: flex;
    color: rgba(86, 55, 1, 0.75);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    justify-content: center;
    width: 160px;
}

.ball {
    width: 50px;
    border-radius: 50px;
    position: relative;
    bottom: -50px;
    left: 25px;
    transform: translate(-50%, -50%);
    animation: jump 3.2s infinite;
}



@keyframes jump {
    0% {
        transform: translate(-50%, -50%) scale(1.25, 0.75);
    }

    50% {
        transform: translate(-50%, -150%) scale(1, 1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.25, 0.75);
    }
}

.logo-h1 {
    margin: 0;
    display: flex;
    
}

.logo-h6 {
       margin: 0;
    display: flex;
}