.log{
    display: flex;
    /* flex-direction: column; */
    /* border: solid; */
    padding: 20px;
    margin: 10px;
    /* width: inherit; */
    border-radius: 10px;
    background-image: linear-gradient(to top right,rgba(255, 0, 0, 0.519),rgba(246, 232, 232, 0.424),rgba(255, 255, 0, 0.455));
    justify-content: space-around;
}
.timeline-container{
    display: flex;
    flex-direction: column-reverse;
    /* border: solid; */
    width: 120%;

}