#weather-component {
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.weather-info-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
}

.weather-info {
    height: 20px;
    margin: 2px auto;
}