#weather-component {
    display: flex;
    /* justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; */
}

.weather-info-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    font-size: small;
    height: 30px;
    align-items: center;
    background: #ffe3e3;
}

/* .weather-info {
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

#weather-image {
    height: auto;
} */