

.weather-info-container {
    display: flex;
    height: 55px;
    justify-content: space-evenly;
    overflow: hidden;
}

.weather-info {
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    animation: move-text 15s infinite;
    
}

@keyframes move-text {
    0% {
        position: relative;
        left: -800px;
    }

    25% {
        left: 0;
    }

    50% {
        left: 0;
    }

    100% {
        position: relative;
        left: 800px;
    }

}
