.activity {
    display: flex;
    margin: 20px;
    width: fit-content;
}

.glassmorphism {
    display: flex;
}

.list-container {
    display: flex;
    flex-direction: row;
    /* width: ; */
    border: solid;
    flex-wrap: wrap;

}