.App {
  /* background-image: url('./background_2.png'); */
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-size: cover;
  background: #eceaff;
  /* overflow: scroll; */
}

.page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px;
  /* border: solid 1px black; */
  align-items: center;
}

.logo-container {
  display: flex;
  color: rgba(0, 22, 130, 0.75);
  margin-bottom: 5px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 2;
}


.glassmorphism {
  display: flex;
  border-color: black;
  border-style: solid;
  color: #224;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgb(218 249 250 / 43%);
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-content: center;
  /* justify-content: space-evenly;
  align-items: center; */
}

.glassmorphism-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* border: 1px solid rgba(255, 255, 255, .25); */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.188);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 40px;
  margin-top: 0;
  text-align: start;
}

#photo-of-me {
  width: 200px;
  border-radius: 10px;
}

.features {
  display: flex;
}
h4{
  text-decoration: underline;
}