.App {
  text-align: center;
    background-image:url('./background.png');
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
